<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>库存管理系统-入库管理</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-responsive.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/base.css}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" th:src="@{/js/jquery-1.7.1.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/js/use.js}"></script>
	<link rel="import" th:href="@{/layout/head.html}" id="headHtml"/>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body class="sectionContainer-A1">
<div class="container-fluid">
	<input type="hidden" id="getUserName" th:value="${session.USER_INFO.userName}" />
	<div class="sectionHeader-A1 p-rel" id="headNav">

	</div>

	<div class="sectionWrap-A4 container-fluid">
		<div class="row-fluid">
			<div class="sectionWrap-A2 span2" id="leftNav">
				<div class="p10">
					<div class="sectionMenu-A1">
						<ul>
							<li class="cur mb5"><a th:href="@{/goods/goodsInIndex}">入库管理</a></li>
							<li class="mb5"><a th:href="@{/goods/goodsOutIndex}">出库管理</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="sectionWrap-A3 span10">
				<div class="sectionTitle-A mb10">
					<h2>入库管理</h2>
				</div>
				<div class="clear mb10">
					<div class="sectionSearch-A1 sectionForm-A1 sectionForm-A1-2 R sectionFloat-A1">
						<form th:action="@{/goods/goodsInIndex}" method="get">
							<ul class="clear">
								<li>
									<label>关键词</label>
									<input type="text" th:value="${keyword}" name="keyword" class="text"/>
								</li>
								<li class="button">
									<input class="btn btn-large btn-primary" type="submit" value="查询"/>
								</li>
							</ul>
						</form>
					</div>
				</div>

				<div class="sectionTable-A1 mb10">
					<table class="table table table-hover">
						<thead>
						<tr>
							<th class="col-1" width="10%">商品名称</th>
							<th class="col-2">入库数量</th>
							<th class="col-2">当前库存</th>
							<th class="col-2">入库时间</th>
						</tr>
						</thead>
						<tbody>
						<tr class="" th:each="goodsIn : ${data}">
							<td class="col-1" th:text="${goodsIn.goodsName}"></td>
							<td class="col-2" th:text="${goodsIn.inGoodsNum}"></td>
							<td class="col-3" th:text="${goodsIn.currentGoodsLeftNum}"></td>
							<td class="col-6" th:text="${#dates.format(goodsIn.inTime, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="sectionFoot-B1">
					<div class="sectionFloat-A1">
						<ul class="clear">
							<li class="R">
								<div class="sectionPageing-A1">
									<span class="count"><b th:text="'共 '+ ${pageInfo.getPages()}+ ' 页'"></b></span>
									<span class="linkBlue border"><a th:href="@{/goods/goodsInIndex(pageNum=${1},keyword=${keyword})}">首页</a></span>
									<span class="disabled border"><a th:href="@{/goods/goodsInIndex(pageNum=${pageInfo.getPrePage()},keyword=${keyword})}">&lt;前页</a></span>
									<span class="border current" th:text="'第 '+ ${pageInfo.getPageNum()}+ ' 页'"></span>
									<span class="linkBlue border"><a th:href="@{/goods/goodsInIndex(pageNum=${pageInfo.getNextPage()},keyword=${keyword})}">后页&gt;</a></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		//初始化导航
		function initNavStatus(){
			$("#topNav").find("li.cur").removeClass("cur");
			$("#topNav").find("li").eq(4).addClass("cur");
		}

	</script>

</div>
</body>
</html>
