@charset "utf-8";
@import url("global.css");
@import url("lib.css");
/* CSS Document */


/*link*/
.linkBlue,.linkBlue a:link,.linkBlue a:visited,.linkBlue:link,.linkBlue a:visited,.linkBlue:visited{color:#2C4A77!important;}
.linkBlue a:hover,.linkBlue:hover{color:#2C4A77!important;}
.linkBlack,.linkBlack a:link,.linkBlack a:visited,.linkBlack:link,.linkBlack:visited{color:#000!important;}
.linkBlack a:hover.linkBlack:hover{color:#000!important;}
.linkRed,.linkRed a:link,.linkRed a:visited,a.linkRed:link,a.linkRed:visited{color:#ff3300!important;}
.linkRed a:hover,.linkRed:hover{color:#ff3300!important;}
.linkWhite,.linkWhite a:link,.linkWhite a:visited,.linkWhite:link,.linkWhite:visited{color:#ffffff!important;}
.linkWhite a:hover,.linkWhite:hover{color:#ffffff!important;}
.linkGreen,.linkGreen a:link,.linkGreen a:visited,.linkGreen:link,.linkGreen:visited{color:#009900 !important;}
.linkGreen a:hover.linkGreen:hover{color:#009900!important;}
.linkYellow,.linkYellow a:link,.linkYellow a:visited,.linkYellow:link,.linkYellow:visited{color:#fb4410!important;}
.linkYellow a:hover,.linkYellow:hover{color:#fb4410!important;}
.linkGrey,.linkGrey a:link,.linkGrey a:visited,.linkGrey:link,.linkGrey:visited{color:#999999!important;}
.linkGrey a:hover.linkGrey:hover{color:#999999!important;}
.linkOrange,.linkOrange a:link,.linkOrange a:visited,.linkOrange:link,.linkOrange:visited{color:#f60!important;}
.linkOrange a:hover.linkOrange:hover{color:#f60!important;}
.linkRose,.linkRose a:link,.linkRose a:visited,.linkRose:link,.linkRose:visited{color:#e80274!important;}
.linkRose a:hover.linkRose:hover{color:#e80274!important;}

/*=================================================================================================================================================================================================================================*/

.transitional-wide{background: #f5f5f5 url(../images/bg_body.png);}
.transitional-wide .container-fluid{padding: 0;}

