@charset "utf-8";
/* CSS Document */
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
i,b,em,address,cite,dfn,em,var{font-style:normal}
body{ background:#fff;color:#4F4F4F;}
ol,ul{list-style:none}
li{list-style:none;}
a{text-decoration:none}
a:hover{text-decoration:underline}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top;}
button,input,select,textarea{font-size:100%;outline:medium none;}

a:link,a:visited{color:#4F4F4F;text-decoration:none;}
a:hover,a:active{ text-decoration:underline;}

input,select{vertical-align: middle;}
textarea{resize:vertical;overflow: auto;vertical-align: top;}



/*clear*/
.clear{min-height:1%;*zoom: 1;}
.clear:before,
.clear:after{content:".";display:block;width:0;height:0;line-height: 0;visibility:hidden;display: table;content: "";}
.clear:after {clear: both;}
* html .clear{height:1%}





.L,.R{_display: inline;}
.L{float:left;}
.R{float: right;}
.f-none{float: none!important;}
.p-rel{position: relative;}
.p-abs{position: absolute;}
.z-10{z-index: 10;}
.v-t{vertical-align:top;}
.v-m{vertical-align:middle;}
.v-b{vertical-align: bottom;}
.over-h{overflow:hidden;}
.p1{padding:1px;}
.mb0{margin-bottom:0;}
.mt0{margin-top:0px;}
.mt1{margin-top:1px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mr1{margin-right:1px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.ml2{margin-left: 2px;}
.ml5{margin-left: 5px;}
.ml10{margin-left:10px}
.ml20{margin-left: 20px;}
.mr0{margin-right: 0;}
.ml0{margin-left: 0;}
.mt0{margin-top: 0;}
.mb0{margin-bottom: 0;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.p0{padding:0;}
.p5{padding:5px;}
.p10{padding: 10px;}
.p15{padding: 15px;}
.p20{padding: 20px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pl10{padding-left: 10px;}
.pl20{padding-left: 20px;}
.pr10{padding-right: 10px;}
.pr20{padding-right: 20px;}
.pr0{padding-right: 0;}
.pt0{padding-top:0;}
.none,.hidden{display: none;}
.block{display: block;}
.auto{margin-right: auto;margin-left: auto;}

/*size*/
.test-h-52{height:52px;}
.test-h-80{height:80px;}
.test-h-43{height:43px;}
.test-h-380{height:380px;}
.page-w{width:960px;margin-right: auto;margin-left: auto; position:relative;}
.percent-of105{width:105%;}
.percent-of110{width:110%;}


/*960 grid system*/
.size1of1{width: 100%;}/*100%宽度*/
.size1of2{width:50%;}/*占总宽度的一半：1/2*/
.size1of3{width:33.33333%;}/*占总宽度的三分之一:1/3*/
.size2of3{width:66.66666%;}/*占总宽度的三分之二：2/3*/
.size1of4{width:25%;}/*占总宽度的四分之一:1/4*/
.size3of4{width:75%;}/*占总宽度的四分之 三:3/4*/
.size1of5{width:20%;}/*占总宽度的五分之一：1/5*/
.size2of5{width:40%;}/*占总宽度的五分之二：2/5*/
.size3of5{width:60%;}/*占总宽度的五分之三：3/5*/
.size4of5{width:80%;}/*占总宽度的五分之四：4/5*/


.row {margin-left: -20px;*zoom: 1;}
.row .col1   {width:40px;}
.row .col2   {width:100px;}
.row .col3   {width:160px;}
.row .col4   {width:220px;}
.row .col5   {width:280px;}
.row .col6   {width:340px}
.row .col7   {width:400px}
.row .col8   {width:460px}
.row .col9   {width:520px}
.row .col10  {width:580px}
.row .col11  {width:640px}
.row .col12  {width:700px}
.row .col13  {width:760px}
.row .col14  {width:820px}
.row .col15  {width:880px}
.row .col16  {width:940px}

/*===================================================================================================*/

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}


/*font*/
.font-12{font-size: 12px;}
.font-14{font-size: 14px;}
.font-16{font-size: 16px;}

/*background*/
.bg-white{background: #fff;}
.bg-yellow{background-color:#f1e6d5;}
.bg-blue{background-color:#f3f8fe;}
.bg-orange{background-color:#ff8c40;}
.bg-green{background-color:#e1f9cd;}
.bg-grey{background-color:#f8f8f8;}
.bg-dark-gray{background-color:#4c4c4c}


/*border*/
.border{border:1px solid #d7d7d7;}

/*z-index*/
.z1{z-index: 10;}
.z2{z-index: 20;}
.z3{z-index: 30;}
.z4{z-index: 40;}
.z5{z-index: 50;}
.z10{z-index: 100;}

/*shadow*/
.sectionShadow-A1{box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);background-color:#000;}
.sectionShadow-A2{box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);background-color:#000;}
.sectionShadow-A3{box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);background-color:#000;}
.sectionShadow-A4{box-shadow:1px 0 1px rgba(0, 0, 0, 0.1)}
.sectionShadow-A5{box-shadow:2px 2px 5px #eee;}
.sectionShadow-A6{box-shadow:0 0 4px 4px rgba(0, 0, 0, 0.2); box-sizing:border-box; -webkit-transform:translate3d(0,0,0);}
.sectionShadow-A7{box-shadow:2px 2px 1px #eee;}

.sectionTextShadow-A1{text-shadow: 1px 1px 1px #333;}


/*cms 规定的格式*/
.sectionCms,
.sectionCms p{line-height: 25px;text-indent: 25px;font-family: "SimSun"; font-size: 12px;word-break: break-all;word-wrap: break-word;white-space: pre;white-space: pre-wrap;}
.sectionCms-0,
.sectionCms-0 p{text-indent: 0;}



/*浏览器兼容*/
/*=============================================================================*/
/*仅被firefox支持*/ 
@-moz-document url-prefix() { 
	
}


/*主要是针对Webkit内核的浏览器，如Google Chrome 和 Safari浏览器：*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

}


