<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>库存管理系统-新增用户</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/bootstrap-responsive.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/base.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" th:src="@{/js/jquery-1.7.1.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/use.js}"></script>
<link rel="import" th:href="@{/layout/head.html}" id="headHtml"/>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body class="sectionContainer-A1">
<div class="container-fluid">
	<input type="hidden" id="getUserName" th:value="${session.USER_INFO.userName}" />
	<div class="sectionHeader-A1 p-rel" id="headNav">

	</div>
	
	<div class="sectionWrap-A4 container-fluid">
		<div class="row-fluid">
			<div class="sectionWrap-A2 span2">
			  <div class="p10">
				<div class="sectionMenu-A1">
					<ul>
						<li class="cur mb5"><a th:href="@{/user/index}">用户管理</a></li>
					</ul>
				</div>
			  </div>
			</div>
			<div class="sectionWrap-A3 span10">
				<div class="sectionTitle-A mb10">
					<h2>用户管理</h2>
				</div>
				<div class="clear mb10">
					<div class="sectionBun-A2 L mr10">
						<a href="javascript:history.go(-1);" class="btn btn-primary">返回</a>
					</div>
				</div>
				
				<div class="sectionList-B1 mb20">
					<form class="form-horizontal">
					<ul>
						<li class="mb5">
							<label class="sectionLabel-A1">用户名：</label>
							<div class="sectionBox-A1 clear sectionForm-A1 sectionForm-A1-4">
								<input name="userName" type="text" class="L mr10 span3" placeholder="" />
							</div>
							
						</li>
						<li class="mb5">
							<label class="sectionLabel-A1">用户昵称：</label>
							<div class="sectionBox-A1 clear sectionForm-A1 sectionForm-A1-4">
								<input name="userNickname"  type="text" class="L mr10 span3" placeholder="" />
							</div>

						</li>
						<li class="mb5">
							<label class="sectionLabel-A1">用户密码：</label>
							<div class="sectionBox-A1 clear sectionForm-A1 sectionForm-A1-4">
								<input name="userPassword"  type="password" class="L mr10 span3" placeholder="" />
							</div>

						</li>
						<li class="mb5">
							<label class="sectionLabel-A1">手机号：</label>
							<div class="sectionBox-A1 clear sectionForm-A1 sectionForm-A1-4">
								<input name="telephone"  type="text" class="L mr10 span3" placeholder="" />
							</div>

						</li>
						<li class="mb5">
							<label class="sectionLabel-A1">邮箱号：</label>
							<div class="sectionBox-A1 clear sectionForm-A1 sectionForm-A1-4">
								<input name="mail"  type="text" class="L mr10 span3" placeholder="" />
							</div>

						</li>
						<li class="mb5">
							<div class="sectionBox-A1 sectionBox-A1-1 sectionForm-A1 sectionForm-A1-2">
								<a data-toggle="modal" class="button"><input class="btn btn-large btn-primary submitButton" type="button" value="提交" /></a>
								
							</div>
							
						</li>
						
					</ul>
					</form>
				</div>
				<script type="text/javascript">
					//初始化导航
					function initNavStatus(){
						$("#topNav").find("li.cur").removeClass("cur");
						$("#topNav").find("li").eq(1).addClass("cur");
					}

					$(function(){
						//提交
						$('.submitButton').on('click',function(){
							var userName = $('input[name="userName"]').val();
							if(userName == ''){
								showModal('用户名不能为空！');
								return ;
							}
							var userNickname = $('input[name="userNickname"]').val();
							if(userNickname == ''){
								showModal('用户昵称不能为空！');
								return ;
							}
							var userPassword = $('input[name="userPassword"]').val();
							if(userPassword == ''){
								showModal('密码不能为空！');
								return ;
							}
							var telephone = $('input[name="telephone"]').val();
							if(telephone == ''){
								showModal('手机号不能为空！');
								return ;
							}
							var reg = /(1[3-9]\d{9}$)/;
							if(!reg.test(telephone)){
								showModal('请输入正确格式的手机号！');
								return ;
							}
							var mail = $('input[name="mail"]').val();
							if(mail == ''){
								showModal('邮箱号不能为空！');
								return ;
							}
							var regemail = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
							if(!regemail.test(mail)){
								showModal('请输入正确格式的邮箱号！');
								return ;
							}
							$.ajax({
								url: ctx + '/user/add.json',
								type:'post',
								dataType:'json',
								contentType:"application/json",
								data:JSON.stringify({
									userName: userName,
									userNickname: userNickname,
									userPassword: userPassword,
									telephone: telephone,
									mail: mail
								}),
								success:function (data) {
									showModal(data.msg);
									if(data.code == 0){
										$('#myModal').attr("redirect","1");
									}

								}
							})

					   	})
						//关闭弹出框
						$('.hideModal').on('click',function(){
							var redirectUrl = null;
							var isRedirect = $('#myModal').attr("redirect");
							if(isRedirect > 0){
								redirectUrl = '/user/index';
							}
							hideModal(redirectUrl)
						})

					});

				</script>
				
				
			</div>
		</div>
	</div>
	
	
</div>
<!-- 弹出层 -->
<div id="myModal" class="modal hide fade in" tabindex="-1" role="dialog" redirect="0" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-header">
	  <button type="button" class="close hideModal" aria-hidden="true">×</button>
	  <h3 id="myModalLabel">信息提示</h3>
	</div>
	<div class="modal-body">
	  保存中...
	</div>
	<div class="modal-footer">
	  <button class="btn hideModal">Close</button>
	  
	</div>
</div>
<!-- 弹出层 end-->
</body>
</html>
